*.vcxproj*
.vs
*.sln
VirtualHairStyle/Debug/
VirtualHairStyle/Release/
VirtualHairStyle.VC.*
VirtualHairStyle/haarcascades*
Debug/
FaceTrackingTutorial/*
OpenGLTutorial/*
DlibExamples/*
HeadPosPnP/*
Release/*
*.exe
*.rar
